%table.table
  %thead
    %tr
      %th ID
      %th User
      %th Clock-In Time
      %th Clock-Out Time
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
