%table.table
  %thead
    %tr
      %th ID
      %th User
      %th Clock-In Time
      %th Clock-Out Time
  %tbody
    - @users.each do |user|
      %tr
        - if permitted_to?(:show, user)
          %td= link_to user.name, user_path(user)
        %td= user.email
